body,
html {
  background: white !important;
  /* overflow-x:hidden !important; */
}

@font-face {
  font-family: verdana;
  src: url(verdana.ttf);
}
@font-face {
  font-family: "bookman";
  src: url(Bookman.ttf);
}

.navbar {
  background: white !important;
}

#mainNavbar {
  font-size: 1.2rem;
}

#mainNavbar .navbar-brand {
  color: black;
  font-size: 1.5rem;
}

#mainNavbar .nav-link {
  color: black;
}

.navbar-toggler-icon {
  color: black !important;
}

h1 {
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: #121212;
  font-family: "bookman";
}

h3 {
  text-align: center;
  color: #121212;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
  font-family: "bookman";
}

p {
  font-size: 1.2rem;
  font-family: verdana, sans-serif;
}

#logo-container svg {
  width: 250px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  #logo-container svg {
    width: 150px;
    height: auto;
  }

  .photo {
    width: 439px;
    height: 350px !important;
  }

  .info h3 {
    font-size: 2rem !important;
  }

  .info p {
    font-size: 17px;
  }
}

/* fade in affect */

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

/* Responsive screen device */

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem !important;
    margin-bottom: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  iframe {
    width: 400px;
    height: 350px;
  }
}
